@import "../../../styles/variables";


.header-options {

    display: flex;
    align-items: center;
    width: 180px;
    span {
      width: 36px;
      height: 36px;
      background-color: white;
      border-radius: 100%;
      margin-right: 24px;
      display: inline-flex;
      justify-content: center;
      align-items: center;

      svg{
          fill: map-get($colors, $key: primaryhover);
      }
    }

    .email-icon, .email-noti {
        position: relative;
        &::after{
            content: '';
            background-color: firebrick;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}