$colors: (
    bg: #F6F7F8,
    side: #e9eef6,
    headertop: #e3eaf5,
    primaryfont: #172b4d,
    primaryhover: #445379,
    secondarfont: #818DA2,
    lgray: #D0D0D0
);

$pallete-colors: (
  #FFDAB9,
  #FA8072,
  #F0E68C,
  #FFA500,
  #90EE90,
  #3CB371,
  #AFEEEE,
  #87CEFA,
  #E6E6FA,
  #9370DB,
  #DDA0DD,
  #DB7093
);